---
import facebookIcon from '../assets/icons/facebook.svg?raw'
import githubIcon from '../assets/icons/github.svg?raw'
import instagramIcon from '../assets/icons/instagram.svg?raw'
import xIcon from '../assets/icons/x.svg?raw'
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Mori Atsushi. All rights reserved.
	<div class="social-links">
		<a href="https://twitter.com/at_sushi_at" target="_blank">
			<div set:html={xIcon} />
		</a>
		<a href="https://facebook.com/tb.atsushi" target="_blank">
			<div set:html={facebookIcon} />
		</a>
		<a href="https://instagram.com/tb.atsushi" target="_blank">
			<div set:html={instagramIcon} />
		</a>
		<a href="https://github.com/Mori-Atsushi" target="_blank">
			<div set:html={githubIcon} />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		color: var(--accent);
		text-decoration: none;
		font-weight: 500;
		padding: 0.5rem;
		transition: all 0.3s ease;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		transition: opacity 0.3s ease;
	}
	.social-links a:hover {
		opacity: 0.6;
	}
	.social-links :global(svg) {
		width: 32px;
		height: 32px;
		color: rgb(var(--black));
	}
</style>
