---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, ogpImage } = Astro.props;
---

<html lang="ja">
	<head>
		<BaseHead title={title} description={description.replace(/\\n/g, '')} image={ogpImage}/>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="title">
					<div class="date">
						<FormattedDate date={pubDate} />
						{updatedDate && <span> | 更新日: <FormattedDate date={updatedDate} /></span>}
					</div>
					<h1>{title}</h1>
				</div>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>

<style>
.prose {
	margin: auto;
	padding: 1em;
	color: rgb(var(--gray-dark));
}
.title {
	margin-bottom: 1em;
	padding: 1em 0;
	line-height: 1;
}
h1 {
	font-size: 2.5em;
	margin-bottom: 1rem;
}
.date {
	margin-bottom: 0.5em;
	color: rgb(var(--gray));
}
article :global(h2) {
	font-size: 1.6em;
	margin-bottom: 1rem;
	padding-top: 1rem;
	padding-bottom: 0.3rem;
	border-bottom: 2px solid var(--accent);
}
</style>